<ion-view view-title="闲置之家">
  <ion-content>
  	<!-- nav start -->
	<div class="nav_wrap">
	<div class="row">
        <div class="col col-center ">
          <div class="nav_photo_wrap">
          	<img src="img/Design.png" alt="" class="nav_photo">
          	<p>单车</p>
          </div>
        </div>
        <div class="col col-center">
          <div class="nav_photo_wrap">
          	<img src="img/Driver2.png" alt="" class="nav_photo">
          	 <p>单反</p>
          </div>
        </div>
        <div class="col col-center">
          <div class="nav_photo_wrap">
          	<img src="img/English.png" alt="" class="nav_photo">
          	 <p>运动</p>
          </div>
        </div>
        <div class="col col-center">
          <div class="nav_photo_wrap">
          		<img src="img/Small language.png" alt="" class="nav_photo">
          	 <p>电子</p>
          </div>
        </div>
      </div>

      	<div class="row">
        <div class="col col-center ">
          <div class="nav_photo_wrap">
          	<img src="img/more.png" alt="" class="nav_photo">
          	 <p>衣物</p>
          </div>
        </div>
        <div class="col col-center">
          <div class="nav_photo_wrap">
          	<img src="img/Music.png" alt="" class="nav_photo">
          	 <p>书籍</p>
          </div>
        </div>
        <div class="col col-center">
          <div class="nav_photo_wrap">
          	<img src="img/Physical education.png" alt="" class="nav_photo">
          	 <p>时间</p>
          </div>
        </div>
        <div class="col col-center">
          <div class="nav_photo_wrap">
          	<img src="img/Research.png" alt="" class="nav_photo">
          	 <p>其他</p>
          </div>
        </div>
      </div>
      </div>
      <!-- nav end-->
      <!-- tap start -->
      <div class="button-bar hotOrNew">
		  <a class="button button-small button-calm" ng-click="toggleNav()">最新</a>
		  <a class="button button-small" ng-click="getHot()">最热</a>
	  </div>
	  <!-- tap end -->
	  <!-- main start -->
	  <div class="main">
	<div class="list" id="index_list">

       <a class="item item-thumbnail-left" href="#/app/item">
          <img src="img/touxiang1.jpg">
          <h2>闲置篮球</h2>
          <p class="item_p"><i class="icon ion-social-usd"></i>价格:2000</p>
          <p class="item_p"><i class="icon ion-grid"></i>分类:日常用品</p>
          <span class="item_time">2015/03/21</span>
          <span class="item_view"><i class="icon ion-eye"></i>200</span>
          <span class="item_star"><i class="icon ion-star"></i>10</span>
        </a>
        <a class="item item-thumbnail-left" href="#/app/item">
          <img src="img/touxiang1.jpg">
          <h2>闲置篮球</h2>
          <p class="item_p"><i class="icon ion-social-usd"></i>价格:2000</p>
          <p class="item_p"><i class="icon ion-grid"></i>分类:日常用品</p>
          <span class="item_time">2015/03/21</span>
          <span class="item_view"><i class="icon ion-eye"></i>200</span>
          <span class="item_star"><i class="icon ion-star"></i>10</span>
        </a>
        <a class="item item-thumbnail-left" href="#/app/item">
          <img src="img/touxiang1.jpg">
          <h2>闲置篮球</h2>
          <p class="item_p"><i class="icon ion-social-usd"></i>价格:2000</p>
          <p class="item_p"><i class="icon ion-grid"></i>分类:日常用品</p>
          <span class="item_time">2015/03/21</span>
          <span class="item_view"><i class="icon ion-eye"></i>200</span>
          <span class="item_star"><i class="icon ion-star"></i>10</span>
        </a>
        <a class="item item-thumbnail-left" href="#/app/item">
          <img src="img/touxiang1.jpg">
          <h2>闲置篮球</h2>
          <p class="item_p"><i class="icon ion-social-usd"></i>价格:2000</p>
          <p class="item_p"><i class="icon ion-grid"></i>分类:日常用品</p>
          <span class="item_time">2015/03/21</span>
          <span class="item_view"><i class="icon ion-eye"></i>200</span>
          <span class="item_star"><i class="icon ion-star"></i>10</span>
        </a>
        <a class="item item-thumbnail-left" href="#/app/item">
          <img src="img/touxiang1.jpg">
          <h2>闲置篮球</h2>
          <p class="item_p"><i class="icon ion-social-usd"></i>价格:2000</p>
          <p class="item_p"><i class="icon ion-grid"></i>分类:日常用品</p>
          <span class="item_time">2015/03/21</span>
          <span class="item_view"><i class="icon ion-eye"></i>200</span>
          <span class="item_star"><i class="icon ion-star"></i>10</span>
        </a>
      </div>
      </div>
      <!-- main end -->
  
  </ion-content>
</ion-view>
