<ion-view view-title="闲置篮球出租">
    <ion-content>
        <div class="content">

            <div class="list card">

                <div class="item item-avatar">
                    <img src="img/test.jpg">
                    <h2>闲置篮球出租</h2>
                    <p>2015-03-24</p>
                </div>

                <div class="item item-body" id="item_body">
                    <img class="full-image" src="img/test.jpg">
                    <p>
                        我有一个闲置的篮球，大二买的，现在大三实习很少用了，可以出租给需要的同学，同学们也可以提供其他我感兴趣的东西给我。
                    </p>
                    <p class="Item_info_p">
                        <a href="#" class="subdued">出租价格:10元每周</a>
                    </p>
                    <p class="Item_info_p">
                        <a href="#" class="subdued">手机:13538812678</a>
                    </p>
                    <p class="Item_info_p">
                        <a href="#" class="subdued">地点:华南农业大学华山学生宿舍21栋</a>
                    </p>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                        <i class="icon ion-thumbsup"></i>
                        收藏
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-chatbox"></i>
                        评论
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-share"></i>
                        分享
                    </a>
                </div>

            </div>

        </div>    </ion-content>
</ion-view>
