<ion-view view-title="搜索">
  <ion-content>
    <div class="content">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>
      </div>
    </div>
    <!-- main start -->
    <div class="main">
      <div class="list hide" id="index_list">

        <a class="item item-thumbnail-left" href="#">
          <img src="img/touxiang1.jpg">
          <h2>闲置篮球</h2>
          <p class="item_p"><i class="icon ion-social-usd"></i>价格:2000</p>
          <p class="item_p"><i class="icon ion-grid"></i>分类:日常用品</p>
          <span class="item_time">2015/03/21</span>
          <span class="item_view"><i class="icon ion-eye"></i>200</span>
          <span class="item_star"><i class="icon ion-star"></i>10</span>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/touxiang1.jpg">
          <h2>闲置篮球</h2>
          <p class="item_p"><i class="icon ion-social-usd"></i>价格:2000</p>
          <p class="item_p"><i class="icon ion-grid"></i>分类:日常用品</p>
          <span class="item_time">2015/03/21</span>
          <span class="item_view"><i class="icon ion-eye"></i>200</span>
          <span class="item_star"><i class="icon ion-star"></i>10</span>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/touxiang1.jpg">
          <h2>闲置篮球</h2>
          <p class="item_p"><i class="icon ion-social-usd"></i>价格:2000</p>
          <p class="item_p"><i class="icon ion-grid"></i>分类:日常用品</p>
          <span class="item_time">2015/03/21</span>
          <span class="item_view"><i class="icon ion-eye"></i>200</span>
          <span class="item_star"><i class="icon ion-star"></i>10</span>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/touxiang1.jpg">
          <h2>闲置篮球</h2>
          <p class="item_p"><i class="icon ion-social-usd"></i>价格:2000</p>
          <p class="item_p"><i class="icon ion-grid"></i>分类:日常用品</p>
          <span class="item_time">2015/03/21</span>
          <span class="item_view"><i class="icon ion-eye"></i>200</span>
          <span class="item_star"><i class="icon ion-star"></i>10</span>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="img/touxiang1.jpg">
          <h2>闲置篮球</h2>
          <p class="item_p"><i class="icon ion-social-usd"></i>价格:2000</p>
          <p class="item_p"><i class="icon ion-grid"></i>分类:日常用品</p>
          <span class="item_time">2015/03/21</span>
          <span class="item_view"><i class="icon ion-eye"></i>200</span>
          <span class="item_star"><i class="icon ion-star"></i>10</span>
        </a>
      </div>
    </div>
    <!-- main end -->

  </ion-content>
</ion-view>
